<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/userdashboard.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  <body>
    {{#each data}}
      <h1 class="name">WELCOME TO AIRBNB {{this.FirstName}}</h1>
    <section class="profile-dashboard">
    <div>
      <img src="../img/girl dashboard.jpg" alt="dashboard" class="profilephoto">
      <a href="#" class="profile">Edit Profile</a>
    </div>
    <div>
      <h4>Address : - <span>{{this.Address}}</span></h4>
      <h4>Postal Code : - <span>{{this.PostalCode}}</span></h4>
      <h4>Email : - <span>{{this.email}}</span></h4>
      <h4>Phone Number : - <span>{{this.phoneNo}}</span></h4>
    </div>
    {{#each}}
   </section>
      <h5> Your Places</h5>   
      <section class="Places">
        <div>
          <h2>Dubai</h2>
          <img src="img/dubai.jpg" alt="dubai">
        </div>
         <div>
          <h2>Singapore</h2>
          <img src="img/singapore.jpg" alt="singapore">      
        </div>
         <div>
          <h2>Alberta</h2>
          <img src="img/alberta.jpg" alt="Alberta">
        </div>
      </section>
      <h1 class="name"> Thank You for Choosing AIRBNB</h1>
  
</body>
</html>
